@charset "UTF-8";

/******* Importação da fonte de forma local ********/
@font-face{
	src: url("Pacifico-Regular.ttf");
}

@font-face{
	src: url("DancingScript-Regular.ttf");
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Pacifico-Regular', Sans-serif
}

body {
	background-color: #D7D7F4;
}

h1 {
	text-align: center;
	font-size: 2.4em;
	padding: 10px;
}

h3 {
	text-align: center;
	font-size: 1.8em;
	padding: 10px;
	background-color: #AFAFE9;
}

p {
	text-align: justify;
	font-size: 1.4em;
	text-indent: 36px;
	padding: 10px 10px;
	font-family: 'Dancing Script', Sans-serif;
}