@charset "UTF-8";

/***************************************************************
	Formatação do fundo principal
***************************************************************/
body {
	/*color: #cecece;*/
	background-color: rgb(133, 76, 26);
	/*background: url("../img/fundo.jpg");*/
}

/***************************************************************
	Formatando div conteúdo
***************************************************************/
div#conteudo {
	background-color: rgba(0,0,0,.7);
	display: block;
	width: 85%;
	margin: -20px auto 0px;
	padding: 10px;
}


/***************************************************************
	Formatação Cabeçalho
***************************************************************/
header#cabecalho h1{
	display: inline;
	color: #ccc;
	box-shadow: 0px 0px 3px #fff;
	text-align: center;
}

/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/
/***************************************************************

***************************************************************/