@charset "UTF-8";

@media screen and (min-width: 350px) and (max-width: 700px) {
	/*Cabeçalho*/
	#cabecalho {
		height: 50px;
	}

	#cabecalho h1 {
		text-align: center;
		font-size: 2.1em;
		letter-spacing: 5px;
	}

	/*Menu secundário*/
	#menu {
		background-color: black;
		width: 80%;
		margin: auto;
		overflow: hidden;
		box-sizing: border-box;
	}

	#nav-menu {
		text-align: center;
		display: block;
	}

	.lista-menu {
		position: relative;
		list-style: none;

	}

	.lista-menu li {
		position: relative;
		display: block;
		background-color: #000;
		padding: 10px;
		border-bottom: 1px solid #fff;
	}

	.lista-menu li:hover {
		background-color: #fff;
	}

	.lista-menu li a {
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
	}

	.lista-menu li a:hover {
		color: #000;
	}

	.lista-menu li ul {
		display: none;
	}

	.lista-menu li:hover ul {
		display: block;
	}

	.lista-menu li ul li {
		border-top: 1px solid #000;
		background-color: #fff;
	}

	.lista-menu li ul li:hover {
		background-color: #000;
	}

	.lista-menu li ul li a {
		color: #000;
	}

	.lista-menu li ul li:hover a {
		color: #fff;
	}

	#id-frame {
		min-height: 550px;
	}
}

@media screen and (min-height: 700px) {
	#id-frame {
		min-height: 710px;
	}
}

@media screen and (max-width: 350px) {
	/*Cabeçalho*/
	#cabecalho {
		height: 40px;
	}

	#cabecalho h1 {
		text-align: center;
		font-size: 1.8em;
		letter-spacing: 5px;
	}

	/*Menu secundário*/
	#menu {
		background-color: black;
		width: 100%;
		margin: auto;
		overflow: hidden;
		box-sizing: border-box;
	}

	#nav-menu {
		text-align: center;
	}

	.lista-menu {
		list-style: none;
	}

	.lista-menu li {
		display: block;
		background-color: #000;
		padding: 10px;
		border-bottom: 1px solid #fff;
	}

	.lista-menu li:hover {
		background-color: #fff;
	}

	.lista-menu li a {
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
	}

	.lista-menu li a:hover {
		color: #000;
	}

	.lista-menu li ul {
		display: none;
	}

	.lista-menu li:hover ul {
		display: block;
	}

	.lista-menu li ul li {
		border-top: 1px solid #000;
		background-color: #fff;
	}

	.lista-menu li ul li:hover {
		background-color: #000;
	}

	.lista-menu li ul li a {
		color: #000;
	}

	.lista-menu li ul li:hover a {
		color: #fff;
	}

	#id-frame {
		min-height: 550px;
	}	
}