@charset "UTF-8";
/***************************************************************
	Importação da formatação principal
***************************************************************/
@import url("principal.css") screen;

/***************************************************************
	Formatação desktop
***************************************************************/
@media screen and (max-width: 1500px) {
	
}

/***************************************************************
	Formatação mobile
***************************************************************/
@media screen and (max-width: 600px) {
	/****** Configuração do body mobile ******/
	body {
		font-size: 9pt;
	}

	/****** Configuração dic conteudo mobile ******/
	div#conteudo {
		width: 100%;
		margin: -15px;
	}
}

	/******  ******/
	/******  ******/
	/******  ******/

