@charset "UTF-8";

@import url("../css/gridclear.css");
@import url("../css/responsivo.css");

/*RESET*/
* {
	font-size: 100%;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: Arial, cursive, Sans-serif;
}

body {
	background-color: #fff;
}

/*Scrollbar*/
::-webkit-scrollbar-track {
    background-color: #ccc;
}
::-webkit-scrollbar {
    width: 14px;
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #000;
}

/*Cabecalho*/
#cabecalho {
	display: block;
	width: 100%;
	height: 10%;
	background-color: #000;
	color: #ccc;
	text-transform: uppercase;
	overflow: hidden;
}

#cabecalho:hover {
	box-shadow: 2px 2px 3px #ccc;
}

#cabecalho h1 {
	display: inline;
	cursor: pointer;	
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Patua One', cursive;
	font-family: 'Six Caps', sans-serif;
	font-family: 'Roboto Slab', serif;
}

/*Conteudo*/
#conteudo {
	display: block;
	box-sizing: border-box;
}

#conteudo div {
	text-align: center;
}

#conteudo div h2 {
	font-family: 'Patua One', cursive, Sans-serif;
}

#conteudo article {
	background-color: #ccc;
	cursor: pointer;
	transition: box-shadow 0.6s;
}

#conteudo article:hover {
	box-shadow: 0 0 30px #000;
}

#conteudo article img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1270px) {
	/*Cabeçalho*/
	#cabecalho {
		font-size: 4em;
	}

	#cabecalho h1 {
		letter-spacing: 5px;
		margin: 20px 0 0 140px;
	}

	#cabecalho img {
		display: block;
		position: absolute;
		top: 20px;
		left: 40px;
	}

	/*Conteudo*/
	#conteudo {
		padding: 10px;
	}

	#conteudo div {
		height: 40px;
	}

	#conteudo div h2 {
		letter-spacing: 3px;
		font-size: 1.6em;
		margin-top: -20px;
	}

	.oculto {
		display: block;
	}

	/*Seções do conteúdo*/
	figure {
		position: relative;
	}

	figcaption h3 {
		text-align: center;
		font-size: 1.2em;
		border-bottom: 2px dotted #ccc;
	}

	figcaption h5 {
		font-size: 1em;
		margin-top: 15px;
	}

	figcaption a {
		display: block;
		text-decoration: none;
		font-size: 1.2em;
		color: #ccc;
		text-align: center;
		padding-top: 10px;
	}

	figcaption a:hover {
		color: #fff;
		text-decoration: underline;
	}

	#capa01 figcaption, 
	#capa02 figcaption, 
	#capa03 figcaption, 
	#capa04 figcaption, 
	#capa05 figcaption, 
	#capa06 figcaption {
		opacity: 0;
		position: absolute;
		top: 0;
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		transition: opacity: 0.6s;
		font-family: Arial, Sans-serif;
		overflow: auto;
		text-align: justify;

		transition: opacity 0.6s;
	}

	#capa01:hover figcaption{
		opacity: 1;
	}

	#capa02:hover figcaption{
		opacity: 1;
	}

	#capa03:hover figcaption{
		opacity: 1;
	}

	#capa04:hover figcaption{
		opacity: 1;
	}

	#capa05:hover figcaption{
		opacity: 1;
	}

	#capa06:hover figcaption{
		opacity: 1;
	}


	/*Menu Principal*/
	#div-menu {
		position: relative;
		display: block;
		height: 100%;
	}

	#menu {
		display: block;
	}

	#menu h1 {
		display: none
	}

	ul {
		display: block;
	}

	ul li {
		background-color: #000;
		display: block;
		float: left;
		height: 570px;
		list-style: none;
		padding: 20px 5px 20px;
		margin-left: 5px;
		margin-top: -8px;
		margin-bottom: -10px;
		cursor: pointer;
		
		font-family: 'Patua One', cursive, Sans-serif;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1.2em;
		color: #fff;

		writing-mode: tb-rl;
		transition: box-shadow 0.6s;
	}

	ul li:hover {
		background-color: #ccc;
		color: #000;
		box-shadow: 0 0 18px #000;

		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
}

/*Rodapé*/
footer {
	width: 100%;
	height: 100px;
	background-color: #000;
	color: #ccc;
	text-align: center;
}

footer p {
	margin-top: 10px;
}

footer p:hover {
	text-decoration: underline;
}

footer img {
	width: 40px;
	height: 40px;
}

/*Cores*/
.cinza-claro {
	background-color: rgb(204,204,204);
}

.cinza {
	background-color: rgb(153,153,153);
}

.cinza-escuro-medio {
	background-color: rgb(102,102,102);
}

.cinza-escuro {
	background-color: rgb(77,77,77);
}

.cinza-mais-escuro {
	background-color: rgb(51,51,51);
}

.preto {
	background-color: #000;
}














